<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.hit.facelock"
    android:versionCode="1"
    android:versionName="1.0.1" >

    <uses-sdk 
        android:minSdkVersion="8" 
        android:targetSdkVersion="11" />
    <uses-permission android:name="android.permission.CAMERA"/>
	
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>
	
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
		android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name=".LoginActivity" 
			android:label="@string/app_name">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
        <activity
            android:name=".SignActivity" 
			android:label="@string/app_name">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		
        <activity
            android:label="@string/app_name"
            android:name=".SettingActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		
        <activity
            android:label="@string/app_name"
            android:name=".AddFaceActivity" 
			android:screenOrientation="landscape"
			android:configChanges="keyboardHidden|orientation">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		
        <activity
            android:label="@string/app_name"
            android:name=".MatchFace" 
			android:screenOrientation="landscape"
			android:configChanges="keyboardHidden|orientation">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		
        <activity
            android:name=".PatternUnlock" 
			android:label="@string/app_name">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		
        <service android:name=".MyService" >

		
        </service>
		
		
		
    </application>

</manifest>
